@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Poppins, Outfit;
  background-color: hsl(0, 0%, 98%);
}

/* INTRO */

.intro {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  color: hsl(234, 12%, 34%);
  text-align: center;
}

.intro p {
  margin-top: 20px;
}
/*  */

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
}

@media (max-width: 856px) {
  .infos {
    flex-direction: column;
  }
}

/* BOXES */

.box {
  width: 100%;
  max-width: 320px;
  color: hsl(229, 6%, 66%);
  margin: 10px;
}

@media (max-width: 320px) {
  .box {
    width: 85%;
  }
}

/* IMAGES  */

img {
  width: 25%;
  margin-top: 20px;
}

.img {
  display: flex;
  justify-content: flex-end;
}

/* TEXT */

h3 {
  margin-bottom: 5px;
  font-size: 16px;
  color: hsl(234, 12%, 34%);
}

.title-lite {
  font-weight: 200;
}

.first-paragraph {
  font-size: 12px;
  width: 85%;
  text-align: center;
  color: hsl(229, 6%, 66%);
}

.paragraph {
  font-size: 12px;
}

/* BORDER SETTINGS */

.red {
  border-top: 4px solid hsl(0, 78%, 62%) !important;
}

.green {
  border-top: 4px solid hsl(180, 62%, 55%) !important;
}

.yellow {
  border-top: 4px solid hsl(34, 97%, 64%) !important;
}

.blue {
  border-top: 4px solid hsl(212, 86%, 64%) !important;
}

.green,
.red,
.yellow,
.blue {
  padding: 20px;
  border-radius: 0.3em;
  border: 1px solid black;
}
.red {
  margin-bottom: 20px;
}
